/*Author: NG WEN XIANG*/
html::-webkit-scrollbar
{
    width: 12px;
    border: 1px solid black;  /*so the the white border of scrollbar change color*/
    background: black;
}

html::-webkit-scrollbar-thumb
{
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
    /*background: linear-gradient(to bottom, rgba(94, 205, 223, 0.6), rgba(241, 140, 236, 0.8));*/
    border-radius: 3px;
}

html::-webkit-scrollbar-corner { 
  background: black; 
}

.primary-background-color{
    background-color: #2BDEDE;
}

.primary-color{
    color: #2BDEDE;
}

.secondary-background-color{
    background-color: white;
}

.secondary-color{
    color:white;
}

a,i{
    font-style: normal;
    text-decoration: none;
}

.icon-size{
    height:25px;
    width: 25px;
}

.image{
    margin:0px auto;
}

.overlay{
    top: -50%;
    position: relative;
    left: 150px;
    width: min-content;
}

.text{
    opacity: 0;
    transition: 0.3s;
}

.container{
    transition: 0.3s;
}

.container:hover .image{
    opacity: 0.3;
}

.container:hover .overlay {
    opacity: 1;
}

.container:hover .text{
    opacity: 1;
}